@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
/*--yellow:#f9ca24; */
--orange:#2afa00;
}

*{
font-family: 'Nunito', sans-serif;
margin: 0; padding:0;
box-sizing: border-box;
text-decoration: none;
outline: none; border: none;
transition: all .2s linear;
}

*::selection{
background: var(--orange);
color: #333;
}

html{
font-size: 62.5%;
overflow-x: hidden;
}
html::-webkit-scrollbar{
width: 1.4rem;
}
html::-webkit-scrollbar-track{
background: #222;
}
html::-webkit-scrollbar-thumb{
background: var(--orange);
}
body{
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding: 1rem;
}
.btn{
    padding:.7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding: 0.5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background: var(--orange);
}
.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .3rem solid rgba(173, 172, 172, 0.623);
    color: #fff;
    text-transform:capitalize; 
}
.heading span{
    color: var(--orange);
}
header{
    position: fixed;
    top: 0; left:0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--orange);
}
header .user .name{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 900;
}
header .user .post{
    font-size: 2.5rem;
    color: var(--orange);
    font-weight: 800;
}
header .navbar{
    width:100%;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius:5rem;
}
header .navbar ul li a:hover{
    background: var(--orange);
}
#menu{
    position: fixed;
    top:2rem; right:2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}
.Home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.Home h3{
    font-size: 2.5rem;
    color: #fff;
    text-transform:capitalize; 
}
.Home h1{
    font-size: 5rem;
    color: var(--orange);
    text-transform:capitalize;
}
.Home h1 span{
    color:var(--orange)
}
.Home p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    text-transform:capitalize;
}
.Home .work{
    font-size: 3rem;
    color: var(--orange);
    text-transform:capitalize;
}


.About .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.About .row .info{
    flex:1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}
.About .row .info h3{
    font-size: 2rem;
    color: var(--orange);
    padding: 1rem 0;
    font-weight: normal;
    text-transform:capitalize;
}
.About .row .info h3 span{
    color: #fff;
    padding: 0.5rem;
}
.About .row .counter{
    flex:1.1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.About .row .counter .box{
    width:50rem;
    background: rgba(110, 109, 109, 0.658);/*#222*/
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}
.About .row .counter .box span{
    font-size: 4rem;
    color: var(--orange);
}
.About .row .counter .box h3{
    font-size: 2rem;
    color: #fff;
    text-transform:capitalize; 
}


.Education .box-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 0rem;
}
.Education .box-container .box{
   width:60rem;
   margin: 4rem 2%;
   padding-left: 3rem;
   border-left: .2rem solid #fff;
   position:relative;
}
.Education .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}
.Education .box-container .box h3{
    font-size: 2rem;
    color:var(--orange);
    padding-top: 1.5rem;
    text-transform:capitalize;
}
.Education .box-container .box p{
    font-size: 1.9rem;
    color: #eee;
    padding: 1rem 0;
    text-align:justify;
}
.Education .box-container .box i{
    position: absolute;
    top: -1.5rem; left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align:center;
    font-size: 2rem;
    color: #fff;
    background: var(--orange);
}

.Project .box-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 0rem;
}
.Project .box-container .box{
   width:60rem;
   margin: 4rem 2%;
   padding-left: 3rem;
   border-left: .2rem solid #fff;
   position:relative;
}
.Project .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}
.Project .box-container .box h3{
    font-size: 2rem;
    color:var(--orange);
    padding-top: 1.5rem;
    text-transform:capitalize;
}
.Project .box-container .box p{
    font-size: 1.9rem;
    color: #eee;
    padding: 1rem 0;
    text-align:justify;
}
.Project .box-container .box i{
    position: absolute;
    top: -1.5rem; left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align:center;
    font-size: 2rem;
    color: #fff;
    background: var(--orange);
}




.Contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Contact .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}
.Contact .row form{
flex: 1 1 45rem;
padding: 2rem;
margin: 2rem;
margin-bottom: 4rem;
}
.Contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #222;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;    
}
.Contact .row form .box::placeholder{
   text-transform:lowercase; 
}
.Contact .row form .message{
    height: 15rem;
    resize: none;
}
.Contact .row .content {
    text-transform:lowercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.Contact .row .content h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: normal;
    text-transform:lowercase; 
}
.Contact .row .content h3 i{
    padding-right: 50rem;
    color: var(--orange);
    text-transform:lowercase; 
}
.Contact .row .content h2{
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    padding: 1rem02rem;
    font-weight: normal;
    text-transform:capitalize;
    font-weight: 700;
    margin-left: 30rem;
}
.Contact .row form{
    margin: 3rem 0;
}
.btn-send{
    padding:.7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: .1rem;
    font-size: 2rem;
    border-radius: 5rem;
    margin-left: 20%;
}
.btn-send i{
    padding: 0.5rem;
    font-size: 1.8rem;
}
.btn-send:hover{
    background: var(--orange);
}
.top{
    position:fixed;
    bottom: 7.5rem; right:10rem;
    z-index:100;
    display: none;
    width: 2%;
    height:2%;
}




























/* media queries */

@media (max-width:1200px){
html{
font-size: 55%;
}
.Home{
    padding: 1rem 4rem;
}
}

@media (max-width:991px){
header{
left:  -120%;
}
#menu{
    display:block;
}
header.toggle{
    left:0%;
}

body{
    padding: 0;
}
}



@media (max-width:768px){
header{
font-size: 50%;
}
}

@media (max-width:400px){
header{
width:100vw;
}
.heading{
    margin: 0 3rem;
}
.About .row .counter .box{
    width: 100%;
}
.Education .box-container .box{

    width:100%;
}
.Project .box-container .box{
    width: 100%;
}
.Contact .row form{
    margin:5rem 0;
}

}